{% extends 'base.html' %}


{% block head %}
<title>ASCII Art</title>
{% endblock %}

{% block body %}
{% include 'layouts/navbar.html' %}

<div class="container text-center">
    <h3>Here is some ASCII art I made using python</h3>
</div>
<pre class="text-center">
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&%&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%%&&<<<<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%%@&<<<<<<<<<<<<<<<<<<&&&%%&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%%@@&<<<<<<<<<<<<<<<<&&%%%%&&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&%@@@@&<<<<<<<<<<<<<$@@%%%%&&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<&@@@@&<<<<<<<<<<<<$@@@%%%&&&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@@@@&<<<<<<<<<<$@@@@@@%&&&<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@@@@&<<<<<<<<<#@@@@@@@&&&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<@@@@&$$@@@$$##@@@@@@@@&&<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<$@@$$/////@@@@@@@@@@@&<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<#@/////////@@@@@@@&&<<<<<<<<<<$$<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<@@@/////////@@@@@#&<<<<<<<<<<$@/@#<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<#@@@@/////@@&&@@@@#<<<<<<<<<<$/@@@#<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@&&@@@@@@@&<&&@@@@&<<<<<<<<$/@@@@#<<<<<<<<<<<
<<<<<<<<<<<<<<<<<$@&<&@@@@@@@&&%&@@@@&<<<<<<$@/@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<<#@&&%@@@@@@@@&&@@@@@#<<<<<$//@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<#$@$&@@@#@@@@@@@@%%@@@&<<@@@@@@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<&$@@@@@@@@@@$@@@%%%#@@&##@@@@@@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<<&%@@@@@$####@@@@%%%#@##/$#@@@@@@@@@@@#<<<<<<<<<<
<<<<<<<<<<<<<<<#<&#@@@@@##$$@@@@%%###/$@//#@@@@@@@@@@&<<<<<<<<<<
<<<<<<<<<<<<<<#/###@@@@@#$$#@@@@@##@#@@@@$#@@@@@@@@#&<<<<<<<<<<<
<<<<<<<<<<<<<#/@@@#@@@@@@##@@@@@@@@#@@@@@@&@@@@@@#&<<<<<<<<<<<<<
<<<<<<<<<<<<<<$@@@@#@@@@@@@@@@@@@@#@@@@@@&@@@@@#&<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<#@@@@$$@@@@@@@@@@@@@@@@@@@@&@@@@#<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<&@@@$@@@@@@@@@@@@@@@@@@@@&#@@@&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<&@@@@@@@@@@@@@@@@@@@@@@&<<#@@@&<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<&#@@@@@@@@@@@@@@@@@@@@&<<<#@@@&<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<$@@@@@@@@@@@@@@@@@@$#<<##@@@@@&<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<#@@@@@@@@@@@@@@@@@@$@#&&@@@@@#&<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<$@@@@@@@@@@@@@@@@@@@@#@@@@@#&<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<#@@@@@@@@@@@@@@@@@@@@#@@@@&&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<###@@@@@@@@@@@@@@@@@@@&@@@&<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<#//$#@@@@@@@@@@@@@@@@@@&&@@@&<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<$$@$@#@@@@@@@@@@@@@@@@@&<&$$@&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<#@@@@$@@@@@@@@@@@@@@@@@&&###$@&<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<$@@@@#@@@@@@@@@@@@@@@@####&&&<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<#@@@#@@@@@@@@@@@@@@@##&&&<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<&@@@&@@@@@@@@@@@@@@@&&<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<#&&@@@@@@@@@@@@@@@$&<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<&&&&#$@@@@@@@@@&<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<&&#@@@@@#&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<&&$$&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<#$$$$&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<#$#$$&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<#@$@&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<&&&<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
</pre>

{% include 'layouts/footer.html' %}
{% endblock %}